<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.NETCore.App*" />
      <package pattern="Microsoft.AspNetCore.App*" />
      <package pattern="Microsoft.WindowsDesktop.App*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
